<div class="banner" style="font-family: 'Roboto Condensed', sans-serif;">
  <h1>Stay classy with Top Hat </h1>
</div>


<div class="category">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789341/TOPHAT/Screenshot_2023-03-01_at_16.46.34_khwxb2.png)"><%= link_to "Women", filter_products_path("Women")%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789342/TOPHAT/Screenshot_2023-03-01_at_16.47.41_dzlvoz.png)"><%= link_to "Formal", filter_products_path("Formal")%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789341/TOPHAT/Screenshot_2023-03-01_at_16.47.59_s2cm6a.png)"><%= link_to "Men", filter_products_path("Men")%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789342/TOPHAT/Screenshot_2023-03-01_at_16.48.07_uchejb.png)"><%= link_to "Kids", filter_products_path("Kids")%></div>
</div>

<div>
<h2 class="cat-header">Latest products</h2>
</div>
