
<!---<ul>
<% @products.each do |product| %>
<%= link_to product.brand, product_path(product) %>
<% end %>
</ul>--->


<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/564x/c5/7f/23/c57f2375bff1484f60086529a008acc1.jpg);">
  <div class="container">
    <h1>Stay classy with Top Hat</h1>
  </div>
</div> %>



<div class="cards d-flex">
  <div class="container">
    <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4164080/data/ce57974be3c4e0d072e672db9d0d7094/16x9_two-columns/637/data.jpeg)">Woman</div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4163812/data/7174547bb86b58bdb04d8e9f060ac064/16x9_two-columns/637/data.jpeg)">Formal</div>
  </div>

  <div class= "container col-sm-6">
    <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/4164154/data/acba076785479b561cef41bcd17fdb35/16x9_two-columns/637/data.jpeg)">Men</div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn-static.farfetch-contents.com/cms-cm10/caas/v1/media/3461704/data/40f66ea9dac40a63194cfe31365a349b/16x9_two-columns/637/data.png)">Kids</div>
  </div>
</div>
