<div class="banner" style="font-family: 'Roboto Condensed', sans-serif;">
  <h1>Stay classy with Top Hat </h1>
</div>


<div class="category">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789341/TOPHAT/Screenshot_2023-03-01_at_16.46.34_khwxb2.png)"><%= link_to "Women", filter_products_path("Women")%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789342/TOPHAT/Screenshot_2023-03-01_at_16.47.41_dzlvoz.png)"><%= link_to "Formal", filter_products_path("Formal")%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789341/TOPHAT/Screenshot_2023-03-01_at_16.47.59_s2cm6a.png)"><%= link_to "Men", filter_products_path("Men")%></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dzb3rykjc/image/upload/v1677789342/TOPHAT/Screenshot_2023-03-01_at_16.48.07_uchejb.png)"><%= link_to "Kids", filter_products_path("Kids")%></div>
</div>

<div>
<h2 class="cat-header">Latest products</h2>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <div class="card-body d-flex mt-5">
          <div>
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <p class="card-product-pricing">19,99€</p>
          </div>
          <div>
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <p class="card-product-pricing">19,99€</p>
          </div>
          <div>
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <p class="card-product-pricing">19,99€</p>
          </div>
          <div>
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <p class="card-product-pricing">19,99€</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body d-flex">
          <div>
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <p class="card-product-pricing">19,99€</h2>
          </div>
          <div>
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-product-pricing">19,99€</h2>
          </div>
          <div >
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-product-pricing">19,99€</h2>
          </div>
          <div >
            <img src="https://spaceplace.nasa.gov/templates/featured/sun/all-about-the-sun300.jpg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-product-pricing">19,99€</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="card-body d-flex">
          <div>
            <img src="app/assets/images/balenciaga.jpeg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-product-pricing">19,99€</h2>
          </div>
          <div>
            <img src="app/assets/images/balenciaga.jpeg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-product-pricing">19,99€</h2>
          </div>
          <div>
            <img src="app/assets/images/balenciaga.jpeg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-product-pricing">19,99€</h2>
          </div>
          <div>
            <img src="app/assets/images/balenciaga.jpeg" />
            <div>
              <h2>Brand</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-product-pricing">19,99€</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
